$black: hsl(0, 0%, 0%);
$gray-darkest: hsl(0, 0%, 10%);
$gray-darker: hsl(0, 0%, 20%);
$gray-darken: hsl(0, 0%, 30%);
$gray-dark: hsl(0, 0%, 40%);
$gray: hsl(0, 0%, 50%);
$gray-light: hsl(0, 0%, 60%);
$gray-lighten: hsl(0, 0%, 70%);
$gray-lighter: hsl(0, 0%, 80%);
$gray-lightest: hsl(0, 0%, 90%);
$white: hsl(0, 0%, 100%);

$accent-color: #2ba4a7;
$color-main: #23406e;
$color-success: hsl(120, 39%, 54%);
$color-danger: hsl(2, 64%, 58%);
$color-warning: hsl(35, 84%, 62%);

// Семантические цвета

$text-color: #565656;
$text-color--muted: $gray;
$body-bg: #fff;

$link-color: $color-main;
$text-color-light: #f2c546;
$text-color-accent: #e69608;
$link-color--hover: #eca600;

$border-color: $gray-light;

// Ширины

$screen-xs: 0;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1144px;
$screen-xxl: 1144px;

$container-sm: 100%;
$container-md: 100%;
$container-lg: $screen-lg - 30;
$container-xl: $screen-xl - 30;
$container-xxl: $screen-xxl - 30;

//Media
$mobile: 576px;
$tablet: 768px;
$desktop-sm: 992px;
$desktop: 1280px;
$desktop-lg: 1920px;
// Модульная сетка

$grid-columns: 12;
$grid-gutter-width: 30px;

// Разное

$field-padding-vertical: 0.3rem;
$field-padding-horizontal: 0.7rem;

$border-radius: 0.3rem;
$opacity: 0.7;
$transition-time: 0.3s;
$shadow: 0 .4rem .2rem -.2rem rgba(0, 0, 0, 0.3);

$menu-desktop-width: $screen-xl;

