.features-section {
  padding-top: 6rem;
  padding-bottom: 7rem;
}

.features__text-container {
  padding: 0 1.5rem;
}

.features__text {
  font-size: 1.5rem;
  margin-top: 3.2rem;
  text-align: center;
  line-height: 1.6;
  margin-bottom: 3.6rem;

  &--accent {
    font-weight: 700;
    color: $accent-color;
  }
}

.solutions-section {
  padding-top: 4.3rem;
  background-color: #f7f7f7;
}

.solutions__text-container {
  padding: 0 1.5rem;
}

.solutions__text {
  text-align: center;
  margin-top: 3rem;
  line-height: 1.6;
  font-weight: 400;
  font-size: 1.5rem;
  color: #565656;

  &--accent {
    color: #1b2f5b;
    font-weight: 700;
    margin-top: 0;
    &-teal {
      color: $accent-color;
      font-weight: 700;
    }
  }
  &--smaller {
    margin-top: 0;
    font-size: 1.35rem;
    text-align: left;
  }
}

.solutions-container {
  margin-top: 4.5rem;
  padding: 0 1.5rem;
}

.solutions__title {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 400;
  color: $color-main;
}

.solutions__row {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}

 .solutions__box--border-bottom {
   margin-bottom: 2.3rem;
 }



.solutions {
  padding-left: 6.7rem;
  position: relative;

  &--premise {
    margin-bottom: 2.3rem;
  }

  &--cloud {
    margin-top: 2.3rem;
    
    &::after {
      top: -2.3rem;
      left: 0;
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #d8d8d8;
    }
  }

  &:before {
    content: '';
    left: 0;
    @include centerer-y();
    width: 5.4rem;
    height: 5.4rem;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &--premise:before {
    background-image: url('../img/icons_svg/icon_on_premise.svg');
  }

  &--cloud:before {
    background-image: url('../img/icons_svg/icon_on_cloud.svg');
  }
}

.solutions__list {
  display: flex;
  flex-direction: column;
  padding-left: 6.7rem;
  padding-bottom: 5.5rem;
  margin-bottom: 5.3rem;
  justify-content: space-between;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 3rem;
    top: 2rem;
    width: 1.4rem;
    height: 4.9rem;
    background-image: url('../img/icons_svg/solution_lines.svg');
    background-repeat: no-repeat;
  }

  &:after {
    content: '';
    width: 3.7rem;
    height: 1.6rem;
    @include centerer-x();
    bottom: 0;
    background-image: url('../img/icons_svg/arrow.svg');
    background-repeat: no-repeat;
  }
}

.solutions__item {
  font-size: 1.7rem;
  font-style: italic;
  color: #565656;
  list-style-type: none;
  span {
    color: #1b2f5b;
  }
}

.solutions__services-container {
  display: flex;
  max-width: 90%;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  position: relative;
  padding-bottom: 5rem;
  margin-bottom: 5rem;
  &:after {
    content: '';
    width: 3.5rem;
    margin-left: 1rem;
    height: 1.4rem;
    @include centerer-x();
    bottom: 0;
    background-image: url('../img/icons_svg/arrow.svg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.solutions__services-title {
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
  font-style: italic;
  color: $text-color-accent;
}

.solutions__services-text {
  font-size: 1.5rem;
  color: $text-color;
  text-align: center;
  line-height: 1.7;
}

.solutions__analytics-container {
  margin: 0 -1.5rem;
  padding-bottom: 38rem;
  background-image: url(../img/webp/solutions_bg-mobile.png);
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: contain;
}

.solutions__analytics-text-container {
  max-width: 90%;
  margin: 0 auto;
  margin-top: 3rem;
}

.resources-section {
  padding: 4.3rem 0 2rem;

  .container {
    padding: 0 30px;
  }
}

.resources__articles-content {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.resources__article--hidden {
  position: absolute;
  transform: translateX(-50rem);
  opacity: 0;
}

.resources__top-container {
  display: flex;
  flex-direction: column;
}

.resources__text-container {
  margin-bottom: 1.8rem;
}

.resources__text {
  font-style: italic;
  margin-top: 1.6rem;
  line-height: 1.6;

  &--accent {
    font-weight: 700;
    color: $link-color--hover;
  }
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: $link-color--hover;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 3rem;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transform-origin: left top;
}

.resources__progress-scroll-container {
  width: 100%;
  margin-top: 1rem;
  height: 3px;
  border-radius: 2rem;
  background: #ccc;
  position: absolute;
  left: 0;
  transition: $transition-time;
  transform: translate3d(0,0,0);
}

.map-section {
  padding-top: 2rem;
  position: relative;
  min-height: 80rem;
  overflow: hidden;
  background-color: $accent-color;
}

.about-section {
  background-image: url('../img/webp/about_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  padding-bottom: 10.5rem;
}

.about__heading-container {
  padding-top: 5rem;
  margin-bottom: 2rem;
}

@media (min-width: $mobile) {
  .solutions__analytics-container {
    padding-bottom: 40rem;
  }
}

@media (min-width: 400px) {
  .solutions__analytics-container {
    padding-bottom: 45rem;
  }
}

@media (min-width: 450px) {
  .solutions__analytics-container {
    padding-bottom: 50rem;
  }
}

@media (min-width: 450px) {
  .solutions__analytics-container {
    padding-bottom: 55rem;
  }
}

@media (min-width: 530px) {
  .solutions__analytics-container {
    padding-bottom: 60rem;
  }
}

@media (min-width: 580px) {
  .solutions__analytics-container {
    padding-bottom: 65rem;
  }
}

@media (min-width: 630px) {
  .solutions__analytics-container {
    padding-bottom: 72rem;
    background-image: url('../img/webp/solutions_bg-tab.png');
  }
}

@media (min-width: 690px) {
  .solutions__analytics-container {
    padding-bottom: 80rem;
  }
}


@media (min-width: $tablet) {
  .solutions__analytics-container {
    max-width: inherit;
    margin: 0;
    padding-bottom: 26rem;
    background-repeat: no-repeat;
    background-position: 0 110%;
    background-image: url(../img/webp/solutions_bg-2.png);
    background-size: 100%;
  }

  .features-section {
    padding-bottom: 41.7rem;
  }
}

@media (min-width: 850px) {
  .solutions__analytics-container {
    padding-bottom: 30rem;
  }
}

@media (min-width: $desktop-sm) {
  .resources-section {
    padding: 10rem 0 16rem;
  }

  .solutions__text-container {
    padding: 0;
  }

  .solutions-container {
    margin: 0 auto;
    margin-top: 4.5rem;
    margin-bottom: 6rem;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .solutions__row {
    flex-direction: row;
  }

  .solutions {
    &--cloud {
      &::after {
        display: none;
      }
    }
  }

  .solutions__list {
    flex-direction: row;
  }

  .solutions__analytics-container {
    max-width: inherit;
    margin: 0;
    padding-bottom: 37rem;
    background-repeat: no-repeat;
    background-position: 0 110%;
    background-image: url(../img/webp/solutions_bg-2.png);
    background-size: 100%;
  }

  .resources-section {
    .container {
      padding: 0 1.5rem;
    }
  }

  .resources__top-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .resources__text-container {
    margin-bottom: 0;
  }

  .resources__text {
    margin-top: 1rem;
    font-size: 1.6rem;
  }

  .resources__form {
    width: 30%;
  }

  .map-section {
    padding-top: 3.5rem;
  }

}

@media (min-width: $desktop) {
  .features-section {
    padding-top: 10rem;
    padding-bottom: 47.7rem;
  }

  .solutions-section {
    padding-top: 8rem;
  }

  .resources-section {
    padding: 10rem 0 16rem;
  }



  .features__text-container {
    padding: 0;
  }

  .features__text {
    margin: 0 auto;
    line-height: 1.75;
    margin-top: 3.4rem;
    margin-bottom: 7.1rem;
    font-family: $font-family;
    font-weight: 400;
    font-size: 2rem;
    max-width: 68%;
  }

  .solutions__row {
    margin: 0 auto;
    margin-bottom: 4rem;
    max-width: 90%;
  }

  .solutions {
    padding-left: 8rem;
    position: relative;
    &:before {
      content: '';
      left: 0;
      @include centerer-y();
      width: 6.9rem;
      height: 6.9rem;
      background-repeat: no-repeat;
    }

    &--premise {
      margin-bottom: 0rem;
      border-bottom: none;
      max-width: 69rem;
      padding-bottom: 0;
      padding-right: 7rem;
      margin-left: 14rem;
    }

    &--cloud {
      margin-top: 0rem;
      padding-left: 16rem;
    }

    &--cloud:before {
      left: 8rem;
    }

    &--premise:after {
      content: '';
      right: 0;
      @include centerer-y();
      width: 1.5rem;
      height: 5rem;
      background-repeat: no-repeat;
      background-image: url('../img/icons_svg/solution_lines.svg');
    }
  }

  .solutions__title {
    font-size: 2rem;
  }

  .solutions__text {
    margin-top: 0;
    font-size: 2rem;

    &--smaller {
      font-size: 1.7rem;
      text-align: left;
    }
  }

  .solutions__list {
    margin: 0 auto;
    padding-left: 6rem;
    padding-bottom: 9.2rem;
    max-width: 100%;

    &::before {
      display: none;
    }

    &:after {
      width: 3.7rem;
      margin-left: 1rem;
      height: 1.6rem;
      bottom: 0;
    }
  }

  .solutions__item {
    font-size: 2rem;

    &:not(:first-child) {
      margin-left: 3.4rem;
      list-style-type: disc;
    }
  }

  .solutions__services-container {
    max-width: 90%;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin: 0.5rem auto;
    padding-bottom: 7rem;
    margin-bottom: 7rem;
    &:after {
      width: 3.7rem;
      margin-left: 1rem;
      height: 1.6rem;
    }
  }

  .solutions__services-title {
    margin-bottom: 0;
    margin-left: 3rem;
    font-size: $font-size--h2;
    max-width: 44%;
  }

  .solutions__services-text {
    text-align: left;
    margin-left: 6rem;
    padding-top: 0.5rem;
    max-width: 56%;
    font-size: 1.7rem;
    line-height: 1.7;

    &--bold {
      margin-left: 0;
    }
  }

  .solutions__analytics-text-container {
    max-width: 85%;
    margin: 0 auto;
  }

  .resources__filter-container {
    display: flex;
    margin-right: auto;
  }
  .resources__progress-scroll-container {
    margin-top: 1rem;
  }


  .about__heading-container {
    padding-top: 9rem;
    margin-bottom: 9rem;
  }
}


