.solutions-section {
  background-color: #f7f7f7;
}
.resources__text {
  font-style: italic;

  &--accent {
    font-weight: 700;
    color: $link-color--hover;
  }
}

.map-section {
  background-color: $accent-color;
}

.about-section {
  background-image: url('../img/webp/about_bg.jpg');
}

@media (min-width: $mobile) {

}

@media (min-width: $tablet) {

}

@media (min-width: $desktop-sm) {

}

@media (min-width: $desktop) {
  .features-section {
    padding-top: 10rem;
    padding-bottom: 47.7rem;
  }
  .solutions-section {
    padding-top: 8rem;

  }
  .resources-section {
    padding: 10rem 0 16rem;
  }
  .map-section {
    padding-top: 3.5rem;
    position: relative;
    min-height: 80rem;
  }
  .features__text {
    margin: 0 auto;
    margin-top: 3.4rem;
    margin-bottom: 7.1rem;
    text-align: center;
    font-family: $font-family;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.75;
    color: #565656;
    max-width: 68%;
    &--accent {
      font-weight: 700;
      color: $accent-color;
    }
  }

  .solutions__row {
    display: flex;
    margin: 0 auto;
    margin-bottom: 4rem;
    max-width: 90%;
  }

  .solutions {
    padding-left: 8rem;
    position: relative;

    &:before {
      content: '';
      left: 0;
      @include centerer-y();
      width: 6.9rem;
      height: 6.9rem;
      background-repeat: no-repeat;
    }
    &--premise {
      max-width: 69rem;
      padding-right: 7rem;
      margin-left: 14rem;
    }
    &--cloud {
      padding-left: 16rem;
    }
    &--cloud:before {
      left: 8rem;
      background-image: url('../img/icons_svg/icon_on_premise.svg');
    }
    &--premise:before {
      background-image: url('../img/icons_svg/icon_on_premise.svg');
    }
    &--premise:after {
      content: '';
      right: 0;
      @include centerer-y();
      width: 1.5rem;
      height: 5rem;
      background-repeat: no-repeat;
      background-image: url('../img/icons_svg/solution_lines.svg');
    }
  }

  .solutions__title {
    text-transform: uppercase;
    font-size: 2rem;
    font-style: italic;
    color: $color-main;
  }

  .solutions__text {
    text-align: center;
    line-height: 1.6;
    font-weight: 400;
    font-size: 2rem;
    color: #565656;

    &--accent {
      color: #1b2f5b;
      font-weight: 700;
      &-teal {
        color: $accent-color;
        font-weight: 700;
      }
    }
    &--smaller {
      margin-top: 0;
      font-size: 1.7rem;
      text-align: left;
    }
  }

  .solutions__list {
    display: flex;
    margin: 0 auto;
    padding-bottom: 9.2rem;
    justify-content: space-between;
    max-width: 100%;
    position: relative;
    &:after {
      content: '';
      width: 3.7rem;
      margin-left: 1rem;
      height: 1.6rem;
      @include centerer-x();
      bottom: 0;
      background-image: url('../img/icons_svg/arrow.svg');
      background-repeat: no-repeat;
    }
  }

  .solutions__item {
    font-size: 2rem;
    font-style: italic;
    color: #565656;
    list-style-type: none;
    span {
      color: #1b2f5b;
    }
    &:not(:first-child) {
      margin-left: 3.4rem;
      list-style-type: disc;
    }
  }

  .solutions-container {
    margin: 0 auto;
    margin-top: 4.5rem;
    margin-bottom: 6rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .solutions__services-container {
    display: flex;
    max-width: 90%;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem auto;
    position: relative;
    padding-bottom: 7rem;
    margin-bottom: 7rem;
    &:after {
      content: '';
      width: 3.7rem;
      margin-left: 1rem;
      height: 1.6rem;
      @include centerer-x();
      bottom: 0;
      background-image: url('../img/icons_svg/arrow.svg');
      background-repeat: no-repeat;
    }
  }

  .solutions__services-title {
    margin-left: 3rem;
    font-size: $font-size--h2;
    max-width: 44%;
    font-style: italic;
    color: $text-color-accent;
  }
  .solutions__services-text {
    margin-left: 6rem;
    padding-top: 0.5rem;
    color: #565656;
    max-width: 56%;
    font-size: 1.7rem;
    line-height: 1.7;

    &--bold {
      margin-left: 0;
    }
  }

  .solutions__analytics-container {
    padding-bottom: 37rem;
    background-image: url(../img/webp/solutions_bg-2.png);
    background-repeat: no-repeat;
    background-position: 0 110%;

  }

  .solutions__analytics-text-container {
    max-width: 85%;
    margin: 0 auto;
  }

  .resources__top-container {
    display: flex;
    justify-content: space-between;
  }
  .resources__text {
    margin-top: 1rem;
    font-size: 1.6rem;
  }
  .resources__form {
    width: 30%;
  }

  .resources__filter-container {
    display: flex;
    margin-right: auto;
  }
  .resources__progress-scroll-container {
    width: 100%;
    margin-top: 1rem;
    height: 2px;
    background: #ccc;
  }

  .resources__progress-scroll {
    height: 2px;
    background: $link-color--hover;
    width: 0;
  }


  .about__heading-container {
    padding-top: 9rem;
    margin-bottom: 9rem;
  }
}


