.features-container {
  @include container();
  position: relative;
}

.dropdown-row {
  @include row();
  position: relative;
}

.dropdown-container {
  @include col(xs, 12, 12);
  @include col(sm, 12, 12);
  @include col(md, 6, 12);
  @include col(lg, 4, 12);
  @include col(xl, 4, 12);
}

.dropdown-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

//@TODO margin top to prev section
.cards-container {
  margin: 0 auto;
  flex-basis: 89.463195%;
  max-width: 89.463195%;
  &--wider {
    flex-basis: 93%;
    max-width: 93%;
  }
  &--first {
    margin-top: 2rem;
  }
}

.about__team {
  width: 100%;
}

.about__team-row {
  list-style-type: none;
  @include row();
  margin: 0 auto;
  flex-wrap: nowrap;
}

.person-container {
  @include col(xs, 11, 12, 0);
  @include col(sm, 12, 12, 0);
  @include col(md, 6, 12);
  @include col(lg, 3, 12);
  @include col(xl, 3, 12);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__company {
  @include col(xs, 12, 12, 0);
  @include col(sm, 12, 12, 0);
  @include col(md, 12, 12);
  @include col(lg, 3, 12);
  @include col(xl, 3, 12);
}

.footer__contacts {
  @include col(xs, 12, 12, 0);
  @include col(sm, 12, 12, 0);
  @include col(md, 6, 12);
  @include col(lg, 3, 12);
  @include col(xl, 3, 12);
  margin-bottom: 2.7rem;
}

.footer__form-container {
  @include col(xs, 12, 12, 0);
  @include col(sm, 12, 12, 0);
  @include col(md, 6, 12);
  @include col(lg, 6, 12);
  @include col-offset(xl, 1, 12);
  @include col(xl, 5, 12);
}

.resources__articles-container {
  @include row();
  padding-top: 4rem;
  flex-wrap: nowrap;
  &::-webkit-scrollbar {
    display: none;
  }
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
}

.resources__articles {
  @include col(xs, 12, 12);
  @include col(sm, 12, 12);
  @include col(md, 6, 12);
  @include col(lg, 4, 12);
  @include col(xl, 4, 12);
}

.map__top {
  padding: 1rem 0;
  display: flex;
  align-items: center;
}

@media (min-width: $mobile) {
  .resources__articles-container {
    &::-webkit-scrollbar {
      display: none;
    }

    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
  }


}

@media (min-width: $tablet) {

  .dropdown-row {
    width: 100%;
    position: absolute;
  }

  .dropdown-container--bot {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .dropdown-wrapper {
    width: inherit;
    flex-direction: column;
    &--bot {
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  .resources__articles-container {
    &::-webkit-scrollbar {
      display: none;
    }

    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
  }

  .about__team-row {
    padding-bottom: 4rem;
  }

  .footer__contacts {
    margin-bottom: 9rem;
  }
}

@media (min-width: $desktop-sm) {
  .dropdown-row {
    width: 100%;
    position: absolute;
  }

  .cards-container {
    margin: 0;
    flex-basis: 31.463195%;
    max-width: 31.463195%;
    &--wider {
      flex-basis: 37.073608617%;
      max-width: 37.073608617%;
    }
    &--first {
      margin-top: 0;
    }
  }

  .resources__articles-container {
    flex-wrap: nowrap;
    overflow-x: hidden;
  }

  .about__team-row {
    padding-bottom: 6rem;
  }

}

@media (min-width: $desktop) {

  .resources__articles-container {
    overflow-x: hidden;
  }
}