.header {
  display: flex;
  transition: $transition-time;
}

@media (min-width: $mobile) {

}

@media (min-width: $tablet) {

}

@media (min-width: $desktop-sm) {

}

@media (min-width: $desktop) {
  .header {
    padding-top: 3.5rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;

    &--is-active {
      background-color: #fff;
      padding: 1.5rem 0 2rem;
      box-shadow: 0 0 20px 0 #0000003d;
    }

  }

  .header__logo-container {
    margin-left: 4.8rem;
  }
  .header__icon-container {
    text-decoration: none;
    padding-top: 1.3rem;
  }
  .header__btn-container {
    margin-left: 3.5rem;
    padding-top: .8rem;
  }
  .header__contacts {
    display: flex;
    margin-left: 9%;

  }

}
