.hero {
  height: 100vh;
  background-image: linear-gradient(rgba(35, 64, 110, 0.8)),
  url('../img/webp/hero_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: $mobile) {

}

@media (min-width: $tablet) {

}

@media (min-width: $desktop-sm) {

}

@media (min-width: $desktop) {
  .hero__title {
    text-align: center;
    font-size: $font-size--h1;
    color: white;
    font-style: italic;
    letter-spacing: -1px;
    font-weight: 400;


    &--accent {
      display: block;
      color: $link-color--hover;
      font-weight: bold;
    }

    &-container {
      padding-top: 11rem;
      margin: 0 auto;
      max-width: 37.5%;
      margin-top: 21vh;
      position: relative;

      &::before {
        content: '';
        @include centerer-x;
        top: 0;
        height: 7rem;
        width: 2.1rem;
        background-image: url('../img/icons_svg/hero_lines.svg');
        background-repeat: no-repeat;
      }
    }
  }
}

