.main-nav {
  display: none;
  @include col(xs, 16, 16, 0);
  @include col(sm, 16, 16, 0);
  @include col(md, 12, 16);
  @include col(lg, 12, 16);
  @include col(xl, 8, 16);
  @include col(xxl, 8, 16);

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    padding: 1rem 0;
    font-size: 1.6rem;
    background-color: $accent-color;
  }

  &__link {
    text-transform: uppercase;
    display: block;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(white, 0.3);
    text-decoration: none;
    color: $white;
    text-align: center;
    transition: $transition-time;
    &:hover,
    &:active,
    &:focus {
      background-color: rgba(black, 0.1);
    }
    &--active {
      &:hover,
      &:active,
      &:focus {
        background-color: transparent;
      }
    }

  }
}

@media (min-width: $screen-sm) {

  .main-nav__list {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    text-transform: none;
  }
}

@media (min-width: $screen-md) {
  .main-nav {
    display: block;
    background-color: transparent;
    &__toggle {
      display: none;
    }
  }

  .main-nav__list {
    display: flex;
    justify-content: space-around;
    font-size: 1.3rem;
    padding: 0 0.5rem;
  }
  .main-nav__link {
    font-size: 2.2rem;
    text-transform: none;
    color: $link-color;
    &:hover,
    &:active,
    &:focus {
      color: $link-color--hover;
      text-decoration: underline;
      background-color: transparent;

    }
    &--active {
      &:hover {
        color: $link-color;
        text-decoration: none;
      }
    }
  }
}

.active {
  color: $link-color--hover;
  text-decoration: underline;
  background-color: transparent;
}

@media (min-width: $screen-lg) {

}

@media (min-width: $screen-xl) {

}

@media (min-width: $screen-xxl) {

}
