.btn {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  padding: 1rem 3rem;
  white-space: nowrap;
  vertical-align: middle;
  color: white;
  text-transform: uppercase;
  user-select: none;
  text-align: center;
  font-size: 1.3rem;
  font-family: inherit;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  background-color: $accent-color;
  cursor: pointer;
  transition: $transition-time;

  &--orange {
    text-align: left;
    background-color: $link-color--hover;
    color: $black;
  }


  &:hover,
  &:focus {
    background-color: $link-color--hover;
  }

  &:active,
  &:focus {
    background-color: $link-color--hover;
  }

  &--disabled,
  &:disabled {
    cursor: not-allowed;
    opacity: $opacity;
    color: $text-color;
    background-color: $gray-lightest;
    border-color: $gray-lighter;

    @at-root a.btn--disabled {
      pointer-events: none;
    }
  }

  &--resources {
    background-color: transparent;
    padding: 1rem 2rem;
    background-position: 50% 50%;
    background-image: url('../img/icons_svg/arrow_right.svg');
    background-repeat: no-repeat;

    &:hover,
    &:focus {
      background-color: transparent;
    }
  }

  // &--main {
  //   color: #fff;
  //   background-color: $color-main;
  //   border: 1px solid $color-main;

  //   &:hover,
  //   &:focus {
  //     color: #fff;
  //     background-color: darken($color-main, 10%);
  //     border-color: darken($color-main, 12%);
  //   }

  //   &--disabled,
  //   &:disabled {
  //     color: #fff;
  //     background-color: $color-main;
  //     border-color: $color-main;
  //   }
  // }

  //&__top {
  //  position: fixed;
  //  bottom: 30px;
  //  right: -5000px;
  //  width: 50px;
  //  height: 50px;
  //  background-color: #fff;
  //  border-radius: 25px;
  //  border: 2px solid gray;
  //  cursor: pointer;
  //  font-size: 0;
  //  transition: all 0.1s;
  //  opacity: 0.6;
  //  &:hover {
  //    background-color: rgba(black, 0.7);
  //    color: white;
  //    opacity: 1;
  //  }
  //  &::before {
  //    content: '';
  //    top: 20px;
  //    right: 11.6px;
  //    border-radius: 3px;
  //    transform: rotate(55deg);
  //    position: absolute;
  //    width: 15px;
  //    height: 2px;
  //    background-color: gray;
  //  }
  //  &::after {
  //    content: '';
  //    top: 20px;
  //    left: 11.8px;
  //    transform: rotate(-55deg);
  //    border-radius: 3px;
  //    position: absolute;
  //    width: 15px;
  //    height: 2px;
  //    background-color: gray;
  //  }
  //  &:hover::before,
  //  &:hover::after {
  //    background-color: #fff;
  //  }
  //}
  //&__active {
  //  right: 25px;
  //  transition: 0.5s;
  //}
}

@media (min-width: $mobile) {

}

@media (min-width: $tablet) {

}

@media (min-width: $desktop-sm) {
  .btn {
    padding: 1rem 4rem 1.3rem;
    font-size: 1.3rem;
    letter-spacing: 1.9px;
    line-height: 1;

    &--resources {
      padding: 1rem 2rem;
      background-position: 50% 50%;
      &:hover,
      &:focus {
        background-color: transparent;
      }
    }
  }
}

@media (min-width: $desktop) {

}

