.card {
  padding: 2.2rem 2.2rem 2.6rem 2.1rem;
  box-shadow: 0 0 10px 0 #00000026;
  position: relative;

  &-box {
    padding: 0 1.5rem;
  }

  &--white {
    background-color: #fff;
  }

  &--dark-blue {
    margin: 0;
    padding-bottom: 4.8rem;
    color: #fff;
    background-color: $color-main;

    &:before {
      position: absolute;
      left: 47%;
      top: -2.4rem;
      @include triangle(right);
      transform: rotate(90deg);
    }
  }

  &--orange {
    color: #fff;
    background-color: $link-color--hover;

    &:before {
      position: absolute;
      left: 47%;
      top: -2.4rem;
      @include triangle(right, $color-main);
      transform: rotate(90deg);
    }
  }

  &__top-container {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__icon {
    height: 3.1rem;
    width: 3.7rem;

    &--docs {
      width: 3.8rem;
    }

    &--list {
      height: 3.8rem;
      width: 3.5rem;
    }

    &--university {
      width: 4.2rem;
      height: 4.2rem;
    }
  }

  &__number {
    font-weight: 700;
    padding-left: 1.7rem;
    font-size: 4rem;
    font-style: italic;
    position: relative;


    &:before {
      content: '';
      @include centerer-y();
      left: 0;
      width: 1.1rem;
      height: 3.1rem;
      background-repeat: no-repeat;
    }
    &--dark-blue {
      color: $color-main;

      &:before {
        background-image: url('../img/icons_svg/card_lines.svg');
      }
    }

    &--teal {
      color: $accent-color;

      &:before {
        background-image: url('../img/icons_svg/card_lines.svg');
      }
    }

    &--white {

      &:before {
        background-image: url('../img/icons_svg/card_lines_white.svg');
      }

      color: #fff;
    }
  }

  &__title {
    font-style: italic;
    font-weight: 700;
    margin-bottom: 1.1rem;
    max-width: 90%;

    &--dark-blue {
      color: $color-main;
    }

    &--wide {
      max-width: 90%;
    }
  }

  &__list {
    font-size: 1.2rem;
    list-style-type: none;

    &--dark-gray {
      color: #565656;
      & > *:before {
        background-color: #565656;
      }
    }

    &--light-gray {
      color: #d0d0d0;
      & > *:before {
        background-color: #d0d0d0;
      }
    }

    &--black {
      color: #000;
      & > *:before {
        background-color: #000;
      }
    }

  }

  &__item {
    position: relative;
    &:before {
      content: '';
      @include centerer-y();
      left: -1rem;
      width: 4px;
      height: 4px;
      border-radius: 50%;
    }
  }

}

@media (min-width: $mobile) {
}

@media (min-width: $tablet) {

}

@media (min-width: $desktop-sm) {

  .card {
    padding: 2.4rem 3.7rem 3rem 3.7rem;
    margin: 2rem 0;

    &-box {
      padding: 0;
    }

    &__top-container {
      margin-bottom: 0;
      align-items: center;
    }

    &__title {
      max-width: 50%;
      margin-bottom: 2.2rem;

      &--wide {
        max-width: 70%;
      }
    }

    &--dark-blue {
      margin: 0;
      padding-left: 4.7rem;
      padding-bottom: 7rem;

      &:before {
        @include centerer-y();
        left: -.5rem;
      }
    }

    &--orange {
      &:before {
        @include centerer-y();
        left: -.5rem;
      }
    }

    &__icon {
      height: 4rem;
      width: 4rem;

      &--docs {
        width: 4.8rem;
      }

      &--list {
        height: 4.8rem;
        width: 4.4rem;
      }

      &--university {
        width: 5.3rem;
        height: 5.3rem;
      }
    }

    &__number {
      padding-left: 1.7rem;
      font-size: 5rem;


      &:before {
        left: 0;
        width: 1.4rem;
        height: 4rem;
      }
    }

    &__title {
      font-size: 2.5rem;
      padding-top: 3rem;
    }

    &__list {
      font-size: 1.5rem;
      line-height: 1.7;
    }
  }
}

@media (min-width: $desktop) {

}