.heading {
  color: $color-main;
  font-weight: 400;

}

@media (min-width: $mobile) {

}

@media (min-width: $tablet) {

}

@media (min-width: $desktop-sm) {

}

@media (min-width: $desktop) {
  .heading {
    font-size: $font-size--h2;
    font-style: italic;
    text-align: center;
    font-family: $font-family;
    line-height: 1.04;
    letter-spacing: -1px;
    &--teal {
      color: $accent-color;
    }
    &--left {
      text-align: left;
    }
    &--white {
      color: $white;
    }
  }
}