.icon {
  fill: white;
  transition: $transition-time;
  width: 1.8rem;
  height: 1.8rem;

  &:hover {
    fill: $accent-color;
  }

  &--black {
    fill: #000;
  }
}

@media (min-width: $mobile) {

}

@media (min-width: $tablet) {

}

@media (min-width: $desktop-sm) {

}

@media (min-width: $desktop) {
  .icon {
    width: 1.8rem;
    height: 1.8rem;
  }
}
