.logo {
  height: 4rem;
  width: 11.1rem;

  &--hidden {
    display: none;
  }

  &--nav-bar {
    height: 4.1rem;
    width: 11.1rem;
    display: none;
    transform: translateY(-100rem);
    &-is-active {
      display: block;
      transform: translateY(0);
    }
  }
}

.logo__article {
  height: 4rem;
  width: 11.1rem;
}
@media (min-width: $mobile)  {

}

@media (min-width: $tablet){
  .logo {
    height: 5.8rem;
    width: 16rem;

    &--nav-bar {
      height: 5.8rem;
      width: 16rem;
    }
  }

  .logo__article {
    height: 5.8rem;
    width: 16rem;
  }
}


@media (min-width: $desktop-sm){

  .logo {
    height: 5.8rem;
    width: 16rem;

    &--nav-bar {
      height: 5.8rem;
      width: 16rem;
    }
  }
  .logo__article {
    height: 5.8rem;
    width: 16rem;
  }
}

@media (min-width: $desktop) {

}
