.icon {
  fill: white;
}

@media (min-width: $screen-sm) {

}

@media (min-width: $screen-md) {

}

@media (min-width: $screen-lg) {

}

@media (min-width: $screen-xl) {
  .logo {
    height: 5.8rem;
    width: 16rem;
  }
}
