.person {
  color: white;
  position: relative;
  min-width: 22rem;

  &-icon-box {
    text-align: center;
    padding-bottom: 1rem;
  }

  &__icon {
    fill: white;

    transform: translateY(-5px);
    &:hover {
      fill: $link-color--hover;
    }
  }

  &__image-container {
    font-size: 0;
    max-width: 19rem;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
  }

  &__name {
    display: block;
    text-align: center;
    font-style: italic;
    font-weight: 400;
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }

  &__position {
    display: block;
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 2.5rem;
    color: $text-color-light;
    text-transform: uppercase;
  }

  &__btn {
    display: block;
    font-size: 1.3rem;
    padding-top: 1.4rem;
    padding-left: 2.3rem;
    padding-bottom: 1.7rem;
    font-weight: 700 ;
    width: 100%;
    position: relative;
    &::after {
      content: '';
      right: 2rem;
      height: 13px;
      width: 15px;
      @include centerer-y();
      background-repeat: no-repeat;
      background-image: url('../img/icons_svg/icon_message_black.svg');
    }
  }
  &-slider-navigation {
    margin-top: 3.8rem;
    display: flex;
    justify-content: center;
  }

  &--nav-icon {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.slider-button-prev {
  margin-right: 0.8rem;
}
.slider-button-prev,
.slider-button-next {
  cursor: pointer;
}


@media (min-width: $mobile) {
  .person {
    min-width: 28rem;
  }

}

@media (min-width: $tablet) {
  .person {
    max-width: 71%;
    margin: 0 auto;

    &__name {
      margin-top: 1rem;
      font-size: 1.7rem;
    }

    &__position {
      font-size: 1.1rem;
    }

    &__btn {
      max-width: 80%;
      margin: 0 auto;
      font-weight: 400;
      padding-top: 1rem;
      padding-left: 2.3rem;
      padding-bottom: 1.2rem;
      font-size: 1.1rem;
      &::after {
        right: 2rem;
      }
    }


  }
}

@media (min-width: $desktop-sm) {
  .person {

    &__icon {
      opacity: 0;
    }

    &__image-container {
      border: .4rem solid transparent;
    }
    &__name {
      margin-top: 2rem;
      font-size: 2rem;
    }
    &__position {
      font-size: 1.3rem;
    }

    &__btn {
      //max-width: 100%;
      font-size: 1.3rem;
      opacity: 0;
      padding-top: 1.4rem;
      padding-left: 2.3rem;
      padding-bottom: 1.7rem;
      transform: translateY(5px);
            &::after {
        right: 2rem;
      }
    }
    &:hover,
    &:active {
      transition: $transition-time;

      .person__icon {
        opacity: 1;
        transform: translateY(0);

      }

      .person__btn {
        transform: translateY(0);
        font-weight: 700;
        opacity: 1;
      }
      .person__image {
        filter: grayscale(70%);
        transition: $transition-time;
      }
      .person__image-container {
        border: .4rem solid $link-color--hover;
      }
      .person__name,
      .person__position {
        font-weight: 700;
        transition: font-weight .3s ease;
      }
    }

    &-slider-navigation {
      display: none;
    }
  }

}

@media (min-width: $desktop) {

  .person {
    max-width: 20rem;
  }
}