.person {
  color: white;
  max-width: 80%;
  margin: 0 auto;
  position: relative;

  &-icon-box {
    text-align: center;
    padding-bottom: 1rem;
  }

  &__icon {
    fill: white;

    transform: translateY(-5px);
    &:hover {
      fill: $link-color--hover;
    }
  }

  &__image-container {
    font-size: 0;
    border-radius: 50%;
    overflow: hidden;
    border: .4rem solid transparent;
  }

  &__name {
    display: block;
    text-align: center;
    font-style: italic;
    font-weight: 400;
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }

  &__position {
    display: block;
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 2.5rem;
    color: $text-color-light;
    text-transform: uppercase;
  }

  &__btn {
    display: block;
    padding-top: 1.4rem;
    padding-left: 2.3rem;
    padding-bottom: 1.7rem;
    transform: translateY(5px);
    font-weight: 700 ;
    width: 100%;
    position: relative;
    &::after {
      content: '';
      right: 20px;
      height: 13px;
      width: 15px;
      @include centerer-y();
      background-repeat: no-repeat;
      background-image: url('../img/icons_svg/icon_message_black.svg');
    }
  }
}

@media (min-width: $mobile) {

}

@media (min-width: $tablet) {
  .person {

    &__icon {
      opacity: 0;
    }

    &__btn {
      opacity: 0;
      font-weight: 400;
    }

    &:hover,
    &:active {
      transition: $transition-time;

      .person__icon {
        opacity: 1;
        transform: translateY(0);

      }

      .person__btn {
        transform: translateY(0);
        font-weight: 700;
        opacity: 1;
      }
      .person__image {
        filter: grayscale(70%);
        transition: $transition-time;
      }
      .person__image-container {
        border: .4rem solid $link-color--hover;
      }
      .person__name,
      .person__position {
        font-weight: 700;
        transition: font-weight .3s ease;
      }
    }
  }
}

@media (min-width: $desktop-sm) {

}

@media (min-width: $desktop) {

  .person {
    max-width: 20rem;

  }
}